@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    background-image: url('assets/Background3.jpg');
    background-size: cover;
    background-position: center;

}